<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horasphere.springstarter.infrastructure.repository.mybatis.mapper.UserMapper">
    <resultMap id="userResultMap" type="DBUser">
        <id property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="first_name" column="first_name"/>
        <result property="last_name" column="last_name"/>
        <result property="enabled" column="enabled"/>
        <collection property="roles" column="email" javaType="ArrayList" ofType="String" select="selectRoles"  />
    </resultMap>

    <select id="selectAll" resultMap="userResultMap">
        select  * from users
    </select>

    <select id="selectRoles" resultType="String">
        select role from user_roles where user_email = #{email}
    </select>

    <select id="selectByEmail" resultMap="userResultMap">
        select * from users where email = #{email}
    </select>

    <insert id="insertUser" parameterType="DBUser">
        insert into users (email, password, first_name, last_name, enabled) values( #{email}, #{password}, #{first_name}, #{last_name}, #{enabled});
    </insert>

    <insert id="insertRole" parameterType="DBUserRole">
        insert into user_roles (user_email, role) values( #{email}, #{role});
    </insert>
</mapper>